* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geologica Variable", sans-serif;
}

input:-webkit-autofill {
  box-shadow: 0 0 100px transparent inset !important;
  caret-color: black !important;
  padding: 12px 14px !important;
  animation: none !important  ;
  -webkit-text-fill-color: var(--mui-palette-text-primary) !important;
}

.confirmDialog {
  .MuiDialog-paper {
    border-radius: 30px;
    max-width: 350px;

    .MuiDialogTitle-root {
      font: 400 16px Unbounded, sans-serif;
      color: var(--mui-palette-text-primary);
    }
  }
}
