* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geologica Variable", sans-serif;
}

input:-webkit-autofill {
  box-shadow: none !important;
  padding: 12px 14px !important;
  background: transparent !important;
  backdrop-filter: none !important;
  appearance: initial !important;
}
